{{template "header.html" .}}
    <div class="preview-topside">
        <ul>
            {{range .characters}}
                <li>
                    <div class="preview-content-wrap"  style="background:white url('/data/images/{{.Photo}}') no-repeat center; background-size: cover;">
                        <a style="display:block" href="characters/{{.ID}}">
                            <div class="preview-char-text-info preview-text-info-wrap">
                                <div class="preview-char-name preview-title-wrap">
                                    <p>{{ .Name }}:</p>
                                </div>
                                <div class="preview-char-about">
                                    <p>{{ .About }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            {{end}}
            <li>
                {{if or .user.IsAdmin (.user.IsOwnProfile .currentLoc)}}
                    {{$create := .params.Get "create"}}
                        {{if $create}}
                            <div id="bottomside" class="preview-content-wrap">
                                <div class="preview-char-text-info preview-text-info-wrap">
                                    <div class="chap-create-back-btn-wrap">
                                        <a href="." class="chap-btn-back"><- Назад</a>
                                    </div>
                                    <form method="POST" enctype="multipart/form-data" id="post-char-form" class="char-form add-form"> <!--</form> onsubmit="onSubmit(this)"-->
                                        <p class="add-form-title">Character:</p>
                                        <div class="form-fields-wrap">
                                            <label for="fname">Name:</label><br><br>
                                            <input type="text" id="fname" name="name" required><br><br>
                                            <label for="lname">About:</label><br><br>
                                            <Textarea form="post-char-form" id="lname" name="about" style="width: 55vw; height: 15vw;"></Textarea><br><br>
                                            <label for="ename">Excerpt:</label><br><br>
                                            <Textarea form="post-char-form" id="ename" name="excerpt" style="width: 55vw; height: 15vw;"></Textarea><br><br>
                                            <label for="pname">Photo:</label>
                                            <input type="file" id="pname" name="photo_file" accept="image/*"><br><br>
                                        </div>
                                        <input type="submit" id="save" class="btn" value="Save"/>
                                    </form>
                                </div>
                            </div>
                        {{else}}
                            <div class="preview-content-wrap"  style="background-color:white;">
                                <a style="display:block" href="characters?create=true">
                                    <div class="preview-char-text-info preview-text-info-wrap">
                                        <p>+Добавить нового персонажа</p>
                                    </div>
                                </a>
                            </div>
                        {{end}}
                {{end}}
            </li>
        </ul>
    </div>
{{template "footer.html"}}